RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/porta_cuadernos_de_identidad_baionesa\.html$
RewriteRule ^(.*)$ /porta_cuadernos_de_identidad_baionesa.html [R=301,L]
